<div class="bar">
    <div class="bar-items">
      <app-bar-menu-button text="Student forum"></app-bar-menu-button>
      <app-bar-menu-button text="About project"></app-bar-menu-button>
      <app-bar-menu-button text="Log in" [routerLink]="['/login']"></app-bar-menu-button>
      <app-bar-menu-button text="Sign up"></app-bar-menu-button>
    </div>
<!-- <div class="logo-bear" title="Logo berloga"></div> -->
</div>
<div class="section">
  <div class="slogan">
    <div class="slogan-1">
      <div>The best place</div>
      <div>for CTU students</div>
    </div>
    <div class="slogan-2">
      <div>Find teams for university projects</div>
      <div>Explore documents and files for studying</div>
      <div>Communicate with teams and friends</div>
      <div>Participate the forum</div>
      <div>Read the student bible</div>
    </div>
  </div>
  <a href=" " class="button">Click me to start</a>
</div>
