$primaryBackground: #7C9473;
$primaryBackgroundLight: #CFDAC8;
$primaryBackgroundDark: #85614B;
$primaryTextColor: #303030;
$primaryTextColorLight: #CFCFCF;
$secondaryColor: #C4C4C4;
$terciaryColor: #73A627;
